html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body, html {
	display: block;
	line-height: 1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.main-container { 
	min-height:620px;
}
.maincontent { 
	width:90%;
	max-width:1224px;
	min-width:1137px;
	margin: 20px auto 0px auto;
	border:#A7A7A7 2px solid ;
	background: #FFF;
}

.pagecontent {
	width:85%;
	/*
	min-width:1000px;
	*/
	margin: 10px auto;
	border:black 0px solid ;
}
.no-bg {
	border:#A7A7A7 0px solid ;
	background: transparent;
}

.pagecontent h2{
	/*
	font-family: 'Paprika', sans-serif;
	font-family: 'Amarante', cursive;
	font-family: 'Merriweather', serif;
	font-family: 'Petit Formal Script', cursive;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	*/
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 35px;
	line-height:35px;
	text-align:center;
	color:#3498db;
	padding-top:50px;
}
/*
.test h2{
	font-family: 'Paprika', sans-serif;
	font-size: 15px;
	line-height:15px;
	text-align:center;
	margin:15px;
	color:#777;
}

.pagecontent p{
	font-size: 17px;
	line-height:24px;
	margin:15px;
	text-align:justify;
	font-family: 'Archivo Narrow', sans-serif;
}
*/
.cleardiv {
	clear:both;
	margin:20px auto;
	height: 1px;
}
.cleardiv-nomargin {
	clear:both;
	height: 1px;
}

.test {
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	border:#FFAD00 1px solid ;
	overflow:auto;
}
.no-border {
	border:#FFAD00 0px solid ;
}
.rounded {
	border-radius:50px;
}
.rounded-300 {
	border-radius:150px;
}
.height-500 {
	height: 500px;
}
.height-600 {
	height: 600px;
}
.height-400 {
	height: 400px;
}
.height-300 {
	height: 300px;
}
.twothird {
	width: 65%;
	margin: 5px;
}

.onethird {
	width: 30%;
	max-width:314px;
	margin: 5px;
}

.onehalf {
	width: 48%;
	max-width:500px;
	margin: 5px;
}

.center {
	margin: 5px auto;
}
.full {
	width: 100%;
}
.fl-left {
	float:left;
}
.fl-right {
	float:right;
}
.fl-center {
	float:left;
	margin-left:4%;
}

.circleholder {
	margin:0px auto;
	height:105px;
}
.onecircle {
	margin:0px auto;
	width:105px;
}
.twocircles {
	margin:0px auto;
	width:210px;
}
.threecircles {
	width:315px;
}
.fourcircles {
	width:425px;
}
.fivecircles {
	width:800px;
}
.sixcircles {
	width:635px;
}
.sevencircles {
	width:735px;
}

.circle {
	width:130px;
	height:130px;
	border:rgba(74,74,74,0.6) 2px solid;
	border-radius:50%;
	margin:0px 1px 0px 20px;
	background:transparent;
	float:left;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	z-index:100;
	cursor:pointer;
}
.biggercircle {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
}

.smallercircle {
	/*
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-ms-transform: scale(0.2);
	transform: scale(0.2);
	*/
	opacity:0.1;
}

.display-none {
	display:none;
}
.opacity-0 {
	opacity:0;
}
.opacity-1 {
	opacity:0.1;
}
.opacity-10 {
	opacity:1;
}
.opacity-6 {
	opacity:0.6;
}
.opacity-5 {
	opacity:0.5;
}
.opacity-7 {
	opacity:0.7;
}
.opacity-8 {
	opacity:0.8;
}
.innercircle .textgroup {
	position:relative;
	top:130px;
	width:130px;
	height:40px;
}
.innercircle h2 {
	line-height:20px;
	font-size: 13px;
	width:130px;
	text-align:center;
	margin:0px;
	margin-left:-10px;
	color:#0049cf;
}
.innercircle span{
	line-height:10px;
	width:130px;
	font-size: 10px;
	text-transform:uppercase;
	cursor:auto;
}

span.twolines {
	padding-top:25px;
}
.circle .innercircle{
	width:90%;
	height:90%;
	border:rgba(255, 255, 255, 0.5) 5px solid;
	border:white 7px solid;
	border-radius:50%;
	margin:0px auto;
	text-align:center;
	line-height:94%;
	z-index:90;
	background-size:100% 100%;
	cursor:pointer;
}
