/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/
*{
	margin:0; padding:0;
}
body.login {
	background:url(../images/login-bg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.4em;
}
.login #iphone a:link, .login #iphone a:visited {
	color: #000;
}
.login h2.heading {
	font-family: 'Titillium Web', sans-serif;
	font-size:28px;
	font-weight:0;
	margin:20px 0px 0px 0px;
}
/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#iphone .spmhidip {
   display:none;
   width:10px;
   height:3px;
}
#iphone {
	position:relative;
	font-family : sans-serif;
	font-size: 0.9em;
	line-height: 150%;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	width: 374px;
	height:720px;
	padding: 26px 24px 46px;
	background-size:100% 100%;
	background-image:url('../images/fulliphoneb.png');
	z-index:10;
}

#iphone #well {
	position:absolute;
	bottom:22%;
	left:16%;
	width: 283px; margin: 0 auto;
	padding-top: 3px;
	overflow: hidden; 
	z-index:10;
	background-image: -webkit-linear-gradient(top,#000,#333);
	background-image: linear-gradient(to bottom,#333,#000);
	border-bottom:1px solid #EBEBEB;
	border-top:1px solid #222;
	border-radius: 10px;
}

#iphone #well h2 {
	background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); 
	background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-animation: slidetounlock 5s infinite;
	font-size: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	padding: 0;
	width: 90%;
	margin-left:0px;
	-webkit-text-size-adjust: none;
}

#iphone #well #slider {
	background: url(../images/arrow.png) no-repeat;
	background-size:100% 100%;
	width: 60px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

#iphone #well h2 span {
	padding-left:20px;
}
@-webkit-keyframes slidetounlock {
	0% {
		background-position: -300px 0;
	}
	100%{
		background-position: 300px 0;
	}
}
#iphone #homebutton {
	position:absolute;
	bottom:13.5%;
	left:44%;
	cursor:pointer;
	width: 55px; margin: 0 auto;
	height:55px;
	border-radius: 60px;
}
#iphone #lockbutton {
	position:absolute;
	left:63%;
	top:1%;
	cursor:pointer;
	width: 50px; margin: 0 auto;
	height:5px;
	z-index:15;
}

#iphone #timearea {
	position:absolute;
	left:16%;
	top: 13%;
	width: 67%; 
	height: 60px;
	text-align:center;
	padding-top:30px;
	color:#EBEBEB;
	font-size:20px;
	z-index:15;
	background-image: -webkit-linear-gradient(top,#000,#333);
	background-image: linear-gradient(to bottom,#333,#000);
}
#iphone #timearea #timer{
	font-size:50px;
}
#iphone #batterymeter {
	position:absolute;
	left:25%;
	top:35%;
	width: 50%; margin: 0 auto;
	height:25%;
	z-index:15;
	background-image:url(../images/battery.png);
	background-size:100% 100%;
}
#iphone #blackscreen{
	position:absolute;
	left:16%;
	top:13%;
	width: 68%; margin: 0 auto;
	height:65%;
	z-index:1;
	background:black;
}

#iphone #content {
	font-size:15px;
}
#iphone #content span{

}

#iphone span.error {
	background-color:yellow;
}
#iphone fieldset {
	width:74%;
	margin:60px auto;
	 border:0px solid #eee;
}
#iphone input[type="text"], input[type="email"], input[type="password"]{
	width:98%;
	height:20px;
}
