/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

#well {
	position:relative;
	width: 331px; margin: 0 auto;
	padding-top: 3px;
	border-left: 5px solid #111;
	border-right: 4px solid #111;
	background: #000;
	overflow: hidden; 
	left:-1px;
}

h2 {
	background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); 
	background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-animation: slidetounlock 5s infinite;
	font-size: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	padding: 0;
	width: 200%;
	margin-left:2px;
	-webkit-text-size-adjust: none;
}

#slider {
	background: url(../images/arrow.png) no-repeat;
	background-size:100% 100%;
	width: 60px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

h2 span {
	padding-left:30px;
}
@-webkit-keyframes slidetounlock {
	0% {
		background-position: -340px 0;
	}
	100%{
		background-position: 340px 0;
	}
}
