.calendar-box {
	display:none;
	background-color:transparent;
	/*border:1px solid #444;*/
	position:absolute;
	width:230px;
	margin-left:50px;
	margin-top:-10px;
}
.calendar-box select.calendar-month {
	background-color:transparent;
	width:90px;
}
.calendar-box select.calendar-year {
	background-color:transparent;
	width:70px;
}
.calendar-box .calendar-cancel {
	background-color:transparent;
	border:1px solid #444;
	width:100%;
}
.calendar-box table td {
	width:14%;
}
.calendar-box .calendar-title {
	text-align:center;
}
.calendar-box a {
	text-decoration:none;
}
.calendar-box .today a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#ffe9c6;
} 
.calendar-box .selected a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#c9ff8b;
}
