/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/
body 
{
	margin:0; padding:0;
}
a:link {
	color:orange;
	text-decoration:none;
}
a:visited {
	color:orange;
	text-decoration:none;
}
a:active {
	color:green;
	text-decoration:none;
}

a.small {
	font-size:0.7em;
}

@font-face {
	font-family: stylewars;
	src: url('../fonts/anoop.ttf');
	
}
@font-face {
	font-family: wellsley;
	src: url('../fonts/WELLSLEY.TTF');
}
@font-face {
	font-family: jura;
	src: url('../fonts/Jura-Regular.otf');
}
@font-face {
	font-family: santana;
	src: url('../fonts/Santana.ttf');
}
body.home {
	font-family : jura, wellsley;
	margin:0;
	padding:0;
	background-image:url('../../images/bck14.png');
	/*
	background-image:url('../../images/linux.jpg');
	background-size:100%;
	background-size:100%;
	background-image:url('../../images/bck1.jpg');
	background-position:left bottom;
	*/
}
.home a:link {
	color:blue;
}
.home a:visited {
	color:orange;
}
.home h1 
{
	font-family : wellsley;
	font-size: 3.0em;
	text-align:center;
	color:#b0b0b0;
	margin-top:40px;
}
.home div.onlycenter {
	width:50%;
	margin-bottom:10px;
	margin-top:10%;
	position:absolute;
	left:25%;
	font-family:jura;
	font-weight:bold;
	text-decoration:italic;
}

.home img.thumbnail {
	width:100%;
	/*
	height:100%;
	*/
}
.home .thumbnail2 {
	height:320px;
	width:320px;
	background-size:100% 100%;
	/*
	*/
}
.lref {
	width:40%;
	height:30%;
	position:relative;
	left:0px;
	float:left;
}
.rref {
	width:40%;
	height:30%;
	position:relative;
	left:60%;
	float:left;
}
.home legend, #home h2
{
	font-family : santana;
	font-size: 1.3em;
	font-weight:bold;
	text-decoration:underline;
	color:#333;
}
.home input[type="file"] input[type="submit"] {
	font-family:santana;
	width:100px;
	height:30px;
	padding-left:0px;
	border:1px solid #444;
	background-color:transparent;
}
body.transactions {
	margin:0; padding:0;
	background-image:url('../../webv2/trump/images/blueback.jpg');
}
body.login {
	/*
	background-image:url('../../images/vfv1.jpg');
	background-image:url('../../images/bck26.jpg');
	background-image:url('../../images/linux.jpg');
	*/
	background-image:url('../../webv2/images/music3.bmp');
	background-repeat:no-repeat;
	background-size:100%;
}
#fg_membersite fieldset
{
	width: 250px;
	padding:20px;
	border:2px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;   
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	top:100px; 
	right:10px; 
	z-index:10;
	margin:0px; 
	margin-top:20px;
}

#fg_membersite legend, #fg_membersite h2
{
	font-family : stylewars;
	font-size: 1.3em;
	font-weight:bold;
	text-decoration:underline;
	color:#000;
}

#fg_membersite label
{
   font-family : Arial, sans-serif;
   font-size:0.9em;
   font-weight: bold;
}

#fg_membersite input[type="text"],#fg_membersite textarea,
#fg_membersite input[type="password"]
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

#fg_membersite input[type="text"],
#fg_membersite input[type="password"]
{
  height:18px;
  width:220px;
}

 #fg_membersite #scaptcha
{
  width:60px;
  height:18px;
}

#fg_membersite input[type="submit"]
{
font-family : Arial, sans-serif;
	width:100px;
	height:30px;
	padding-left:0px;
	border:1px solid #444;
	background-color:transparent;
}

#fg_membersite textarea
{
  height:60px;
  width:220px;
}

#fg_membersite input[type="text"]:focus,
#fg_membersite textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#fg_membersite .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#fg_membersite .error
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color:#ffff00;
}

#fg_membersite #register_password_errorloc
{
    clear:both;
}

#fg_membersite  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#fg_membersite fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#fg_membersite .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 0.7em;
   color:#333;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#fg_membersite .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_membersite #fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_membersite  #fg_crdiv p
{
    display:none;
}

#fg_membersite_content li
{
font-family : Arial, sans-serif;
padding-top:10px;
padding-bottom:10px;
}
#fg_membersite_content
{
    font-family : Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

#fg_membersite_content .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 0.7em;
   color:#333;   
}


#fg_membersite_content h2 
{
   font-family : stylewars;
   font-size: 1.5em;
	text-align:center;
	text-decoration:underline;
   color:#333;
}

#fg_membersite_content h1 
{
	font-family : wellsley;
   font-size: 3.9em;
	text-align:center;
   color:#b0b0b0;
	/*
	margin-top:20px;
   font-family :stylewars;
	*/
}
#fg_membersite_content p 
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}
#fg_membersite select
{
	font-family : Arial, sans-serif;
	background-color:transparent;
	/*background-image:url('../../images/bck.jpg');*/
	width:200px;
	margin-bottom:20px;
	font-size: 0.9em;
	color:#000;
	font-weight:bold;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
}
#fg_membersite option
{
	font-family : Arial, sans-serif;
	/*background-color : #ffff99;*/
	background-color:white;
	/*background-image:url('../../images/bck.jpg');*/
	width:200px;
	margin-bottom:20px;
	font-size: 1em;
	color:#000;
	font-weight:bold;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
}
#fg_membersite_content button
{
	font-family : stylewars;
	cursor:pointer;
	background-color:transparent;
	font-size: 1em;
	border:1px solid #222;
	padding:2px;
	text-align:center	
}

#fg_membersite_content textarea
{
	height:60px;
	width:220px;
}

div.leftsideboxes {

	width: 150px;
	padding:20px;
	font-size: 1.0em;
	/*background-image:url('../../images/panel-blue.jpg');
	background-repeat:no-repeat;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 15px;   
	z-index:10;
	margin:0px; 
	margin-top:80px;
	text-align:left;

}
#operations1
{
	position:absolute; 
	top:30px; 
	left:30px; 
	border:15px solid red;
}

#operations2
{
	position:absolute; 
	top:230px; 
	left:30px; 
	border:15px solid blue;
}

#operations3
{
	position:absolute; 
	top:450px; 
	left:30px; 
	border:15px solid green;
}

#loginpage 
{ 
	height:100%; margin:0; padding:0;
	background-image:url('../../images/vfv1.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	/*
	*/
}

#homepage 
{ 
	margin:0; padding:0;
	/*
	background-image:url('../../images/bck.jpg');
	background-image:url('../../webv2/trump/images/blueback.jpg');
	*/
}

#other 
{ 
	margin:0; padding:0;
	/*
	background-image:url('../../images/bck.jpg');
	height:100%; 
	background-repeat:no-repeat;
	background-size: 100% 100%;
	*/
}
#Menu
{
	color:orange;
}

#bill
{
	width: 300px;
	padding:20px;
	/*
	border:2px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;   
	z-index:10;*/
	margin-left: auto ;
	margin-right: auto ;
	/*margin-left:30%;
	margin-bottom:20px;*/
	margin-top:28px; 
}

#title 
{
	color:black;
	style="-webkit-transform: rotate3d(0, 1, 1, 90deg)";
}

#theTimer
{
	color:black;
	font-weight:bold;
	font-size:1.9em;
}

#posRight
{
	position:absolute; 
	top:60px; 
	/*
	background-image:url('../../images/bck14.png');
	left:10px; 
	*/
	right:10px; 
	z-index:10;
	margin-top:28px;
}

#posRight fieldset {
	/*
	background-image:url(../../images/bck21.jpg);
	*/
	background-size: 100% 100%;
}
div.topright
{
	display:block;
	/*set the div in the top right corner*/
	position:absolute;
	color:#b0b0b0;
	top:0;
	right:0;
	width:100%;
	font-family:stylewars;
	text-align:right;
	padding-right:10px;
	/*give it some background and border
	background:#000;
	border:1px solid #eee;*/
}

table.imagetable {
	font-family: verdana,arial,sans-serif;
	/*
	font-family:stylewars;
	*/
	font-size:1.0em;
	color:#000;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('../../images/cell-grey.jpg');
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('../../images/cell-blue.jpg');
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #999999;
	text-align:center;
}

div#container {
	margin: 0px auto 0px auto; /* centered */
	position:absolute;
	top:100px;
	right:30px;
	width: 300px;
}
#container h2
{
	margin:0;
	font-style: italic;
	font-weight: normal;
	line-height: 1.2em;
}
.menu {
	position: relative;
	top:3px;
	left: 0px;
	z-index: 80; /* the stack order: displayed under bubble (90) */
}

.menu ul li {
	-webkit-transform: rotate(-45deg); /* rotate the list item */
	-moz-transform: rotate(-45deg); /* rotate the list item */
	width: 60px;
	overflow: hidden;	
	margin: 0px 0px;
	padding: 5px 5px 5px 18px;
	float: left;
	background: #7f9db9;
	text-align: right;
}

.menu ul li a {
	color: #fff;
	text-decoration: none;
	display:block;
}

.menu ul li.l1 {
	background: rgba(131,178,51,0.65);
}

.menu ul li.l1:hover {
	background: rgb(131,178,51);
}

.menu ul li.l2 {
	background: rgba(196,89,30,0.65);
}

.menu ul li.l2:hover {
	background: rgb(196,89,30);
}

.menu ul li.l3 {
	background: rgba(65,117,160,0.65);
}

.menu ul li.l3:hover {
	background: rgb(65,117,160);
}

.menu span {
	margin: 15px 80px 0px 0px;
	float:right;
}

.bubble {
	clear: both;
	margin: 0px auto;
	width: 270px;
	background: #fff;
	background: url(../../images/minaret3.jpg);
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);	
	position: relative; 
	z-index: 90; /* the stack order: displayed under ribbon rectangle (100) */
}

.rectangle {
	background: #7f9db9;
	background: #9f8f19; 
	background: #B18904; 
	height: 50px;
	width: 300px;
	position: relative;
	left:-15px;
	top: 30px;
	float: left;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	z-index: 100; /* the stack order: foreground */
}

.rectangle h2 {
	margin:0;
	font-style: italic;
	font-weight: normal;
	line-height: 1.2em;
	font-size: 30px;
	color: #fff;
	padding-top: 13px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-align: center;
}

.triangle-l {
	border-color: transparent #B18904 transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: -30px;
	top: 65px;
	z-index: -1; /* displayed under bubble */
}

.triangle-r {
	border-color: transparent transparent transparent #B18904;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: 270px;
	top: 35px;
	z-index: -1; /* displayed under bubble */
}

.info {
	padding: 60px 25px 35px 25px;
}

.info h2 {
	font-size: 20px;
}

.info p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 22px;
}

.info p a {
	color: #c4591e;
	text-decoration: none;
}

.info p a:hover {
	text-decoration: underline;
}

div#theTimer {
}

div#success-add-friend{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	/*
	border:1px solid #444;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;   
	display:none;
	*/
	z-index:50;
}

#acc-info {
	width:30%;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	left:35%;
	border:10px solid #444;
	color:#fff;
	text-align:center;
	font-size:1.6em;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;   
}

#acc-info #image-set {
	width:100%;
	height:20%;
	position:relative;
	margin-top:10px;
	text-align:center;
	font-size:1.0em;
}

#acc-info #image-set div.profile-pic {
	width:50%;
	position:relative;
	left:25%;
	height:240px;
	background-size:100% 100%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;   
}
#acc-info #image-set div.profile-pic:hover {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;   

}
div.footer {
	margin:10px;
	position:absolute;
	left:0px;
	bottom:0px;
}
#bee {
	height:20%;
	width:15%;
	background-image:url('../../images/bee_nobg.png');
	/*
	background-image:url('../../images/bike.jpg');
	*/
	background-size:100% 100%;
	position:absolute;
	left:0%;
	top:0%;
	z-index:-1;
}
/*
#bee #bee_img {
	height:100%;
	width:100%;
}
*/

div.hidden{
	display:none;
}

div.tuximg {
	width:110px;
	height:128px;
	background-image:url('../../images/Tux.png');
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;
}
button.tuxbutton {
	position:relative;
	left:40%;
}
