.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.background-turquoise {
  background-color: #1abc9c;
}
.background-greenSea {
  background-color: #16a085;
}
.background-emerald {
  background-color: #2ecc71;
}
.background-nephritis {
  background-color: #27ae60;
}
.background-peterRiver {
  background-color: #3498db;
}
.background-belizeHole {
  background-color: #2980b9;
}
.background-amethyst {
  background-color: #9b59b6;
}
.background-wisteria {
  background-color: #8e44ad;
}
.background-wetAsphalt {
  background-color: #34495e;
}
.background-midnightBlue {
  background-color: #2c3e50;
}
.background-orange {
  background-color: #f89406;
}
.background-sunFlower {
  background-color: #f1c40f;
}
.background-carrot {
  background-color: #e67e22;
}
.background-pumpkin {
  background-color: #d35400;
}
.background-alizarin {
  background-color: #e74c3c;
}
.background-pomegranate {
  background-color: #c0392b;
}
.background-clouds {
  background-color: #ecf0f1;
}
.background-silver {
  background-color: #bdc3c7;
}
.background-concrete {
  background-color: #95a5a6;
}
.background-asbestos {
  background-color: #7f8c8d;
}
.background-transparent {
  background: transparent;
}
body {
  font-family: "proxima-nova-light", sans-serif;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: .75px;
  background-color: #251616;
  background-color: #16a085;
}
iframe {
  width: 640px;
  width: 100%;
  height: 450px;
}
.main-heading {
  color: #ecf0f1;
}
#init-modal {
  font-size: 20px;
  color: #2ecc71;
}
.border-opposite-left {
  -webkit-border-top-left-radius: 100px;
  -moz-border-radius-topleft: 100px;
  border-top-left-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-bottomright: 100px;
  border-bottom-right-radius: 100px;
}
.border-opposite-right {
  -webkit-border-top-right-radius: 100px;
  -moz-border-radius-topright: 100px;
  border-top-right-radius: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -moz-border-radius-bottomleft: 100px;
  border-bottom-left-radius: 100px;
}
.family-rouge {
  font-family: 'Rouge Script', cursive;
}
.carousel-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 90px;
  border: 0;
  color: #333;
  background: transparent;
}
.clip {
  font-size: 14px;
  color: #3498db;
  color: #e74c3c;
}
.song-details {
  font-size: 14px;
  color: #444;
  cursor: auto;
}
#ytPage {
  height: 50px;
}
#ytsearch {
  font-family: "proxima-nova-light", sans-serif;
  width: 70%;
  height: 40px;
  font-size: 18px;
  line-height: 30px;
}
#ytsubmit {
  font-family: "proxima-nova-light", sans-serif;
  width: 20%;
}
.search-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  border: 0;
  color: #333;
  background: transparent;
}
.carousel-inner > .item > img {
  display: inline;
}
.container p {
  margin: 10px;
}
.carousel-indicators .active {
  background-color: #46a546;
}
.carousel-indicators li {
  background-color: #000;
}
.waypoint-appear {
  opacity: 0;
}
canvas {
  width: 90%;
  height: 300px;
}
.lead {
  font-size: 45px;
  line-height: 50px;
  font-family: 'Rouge Script', cursive;
}
.modal.fade.in {
  position: fixed;
  top: 10%;
}
.modal-footer .btn {
  float: none;
}
.msg {
  width: 95%;
}
.chat {
  width: 95%;
  height: 70px;
  resize: none;
}
#playlist ul {
  font-family: "proxima-nova-light", sans-serif;
  overflow-x: auto;
  max-height: 60px;
}
.playlist-link {
  cursor: pointer;
}
/*
	#search-span, #chat-span{
		max-width:410px;
	}
	*/
#divsearch ul {
  max-height: 450px;
  overflow-y: auto;
}
.video-thumbnail {
  height: 90px;
  width: 100px;
}
.video-thumbnail2 {
  width: 70px;
  height: 50px;
}
/* CUSTOMIZE THE NAVBAR
		background-position: -0px 0px;
    -------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  z-index: 10;
}
/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 25px 20px 16px;
  /* Increase vertical padding to match navbar links */

  color: #ddd;
  font-size: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 1.5px;
  font-family: 'Rouge Script', cursive;
}
.navbar .brand img {
  margin-top: -10px;
}
.navbar .nav {
  float: right;
}
.navbar .nav,
.navbar .nav > li {
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.navbar-inner {
  text-align: center;
}
.navbar .nav > li {
  padding-top: 10px;
}
.navbar .logo-holder {
  float: right;
}
.navbar .logo-holder > li {
  float: left;
  padding-top: 0px;
}
/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 15px;
  font-size: 16px;
}
/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
  margin-right: 40px;
}
.featurette-divider {
  margin: 80px 0px 20px 0px;
  /* Space out the Bootstrap <hr> more */

  visibility: hidden;
}
.featurette-divider3 {
  margin: 20px 0px;
  /* Space out the Bootstrap <hr> more */

  visibility: hidden;
}
.featurette-divider2 {
  margin: 40px 0px;
  /* Space out the Bootstrap <hr> more */

  visibility: hidden;
}
.container .row .section {
  min-height: 45%;
  max-height: 45%;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 1920px) {
  body {
    background-image: url('../images/bg-coldplay.png');
  }
}
@media (max-width: 1218px) {
  iframe {
    width: 540px;
    width: 100%;
    height: 325px;
  }
}
@media (max-width: 979px) {
  iframe {
    width: 420px;
    width: 100%;
    height: 253px;
  }
  .navbar-fixed-top {
    position: static;
  }
  .navbar .nav,
  .navbar .nav > li {
    float: none;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
  }
  .navbar .logo-holder {
    display: none;
  }
  .navbar-inner {
    text-align: center;
  }
  .navbar .brand {
    padding: 15px 20px 16px;
    /* Increase vertical padding to match navbar links */
  
    font-size: 29px;
  }
  .navbar .brand img {
    padding: 15px 10px 0px;
    /* Increase vertical padding to match navbar links */
  
    width: 30px;
    height: 36px;
    margin-top: -20px;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }
  .carousel-inner img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  iframe {
    width: 640px;
    width: 100%;
    height: 385px;
  }
  .navbar-inner {
    margin: -20px;
    text-align: center;
  }
  .navbar .nav > li {
    padding-top: 0px;
  }
  .navbar .nav,
  .navbar .nav > li {
    float: none;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
  }
  .navbar .brand {
    padding: 15px 0px 0px;
    /* Increase vertical padding to match navbar links */
  
    font-size: 23px;
  }
  .navbar .brand img {
    padding: 15px 50px 15px;
    /* Increase vertical padding to match navbar links */
  
    width: 24px;
    height: 30px;
    margin-top: -20px;
  }
}
